/* Estilos para o header */
.Header {
    background-color: #1c1c1c;
    color: #fed34f;            
    font-size: 24px;           
    text-align: center;        
    padding: 20px 0;           
    border-bottom: 3px solid #a0a0a0; 
    text-transform: uppercase; 
    letter-spacing: 2px;       
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); 
    transform: perspective(300px) rotateX(25deg);
}

span {
    font-weight: bold;
}

