
p-card {
    display: flex;
    margin: auto;
    justify-content: center;
    text-align: center;
}

.price {
    display: flex;
    gap: 4px;
    justify-content: center;
    padding: 8px;
    font-size: 24px;
    font-weight: bold;
}

