/* You can add global styles to this file, and also import other style files */
*{
    box-sizing: border-box; 
    font-family: 'Orbitron', sans-serif; /* Fonte de estilo futurista */
}
body {
    background-color: black;
    color: white;
}
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap');